@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.aurora {
  background: radial-gradient(
      93% 93% at 8% 128%,
      rgba(255, 238, 194, 1) 0%,
      rgba(255, 238, 194, 0.2) 60%,
      rgba(194, 233, 255, 0) 100%
    ),
    radial-gradient(
      49% 88% at 27% -14%,
      rgba(92, 107, 237, 0.73) 0%,
      rgba(93, 227, 236, 0.17) 60%,
      rgba(93, 227, 236, 0) 100%
    ),
    radial-gradient(
      115% 156% at 90% 89%,
      rgba(147, 101, 240, 1) 0%,
      rgba(75, 254, 222, 0) 100%
    ),
    linear-gradient(
      234deg,
      rgba(149, 69, 186, 1) 25%,
      rgba(159, 69, 186, 0.77) 35%,
      rgba(178, 69, 186, 0.4) 50%,
      rgba(91, 196, 229, 0) 84%
    ),
    radial-gradient(
      119% 119% at 3% 26%,
      rgba(193, 48, 230, 1) 0%,
      rgba(48, 158, 230, 0) 74%
    ),
    linear-gradient(
      360deg,
      rgba(242, 245, 250, 1) 0%,
      rgba(242, 245, 250, 1) 100%
    );
}
